:root{
    --vermelho : #E50914;
    --preto : #141414;
}

body{
    background: var(--preto);
    color: white;
    margin: 0px;
}

header{
    padding-top: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

header .logo{
    color: var(--vermelho);
    font-family: sans-serif;
    font-size: 28px;
    margin: 0px;
    padding-left: 50px;
    padding-right: 35px;
}

header nav a{
    color: #FFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 1px;
    padding-right: 10px;
}

header nav a:hover{
    color: #AAA;
}

.destaque{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('Imagens/Destaque/fundo.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 0;
}

.destaque .caixote{
    margin-left: 55px;
    margin-bottom: 20px;
    padding-top: 160px;
}

.titulo1{
    width: 400px;
    margin-left: 5px;
    position: relative;
}

.titulo2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-left: 5px;
}

.sinopse{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 30%;
}

.botoes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 55px;
    padding-top: 450px;
    position: relative;
}

.botoes i{
    font-size: 16px;
}


.botao_play{
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao_info{
    color: white;
    background-color: rgb(80, 80, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao_play:hover{
    background-color: rgb(192, 192, 192) ;
    color: black;
}

.botao_info:hover{
    background-color: rgb(53, 53, 53) ;
    color: white;
}

.carrousels{
    position: relative;
    padding-left: 55px;
    padding-top: 70px;
}

.apresentacao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0px;
}

.miniatura{
    max-height: 139px;
    padding-bottom: 30px;
    border-radius: 5px;
}